In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

sys.path.append('../src')

import os.path
from common.models import Enhancer3dEnhancerAtlasDatasetType, Enhancer3dGencodeAnnotationDatasetType
from calculator.loaders import load_gencode_annotation_dataset_from_filesystem, load_enhancer_atlas_dataset_from_filesystem
from utils.filesystem_utils import get_local_filesystem

In [10]:
load_enhancer_atlas_dataset_from_filesystem(
    fs=get_local_filesystem(),
    data_path=os.path.abspath("../data"),
    dataset_name="enhanceratlas2_liftovered_hg38_filtered_by_chrom_in_regions_GM12878_Nean_with_converted_regions",
    dataset_type=Enhancer3dEnhancerAtlasDatasetType.TSV_LIFTOVERED_REF
)

                             id chromosome      start        end      score
0            chr1:837920-838720       chr1     837920     838720   7.866088
1            chr1:843600-844070       chr1     843600     844070   6.472419
2            chr1:864720-866620       chr1     864720     866620  11.010675
3            chr1:890290-891030       chr1     890290     891030   6.114487
4            chr1:904090-907210       chr1     904090     907210   8.848865
...                         ...        ...        ...        ...        ...
17855  chr9:137756698-137757878       chr9  137756698  137757878  11.902948
17856  chr9:137807678-137808648       chr9  137807678  137808648   7.199719
17857  chr9:137808858-137809668       chr9  137808858  137809668   8.657415
17858  chr9:137816068-137817438       chr9  137816068  137817438  11.240575
17859  chr9:137824938-137826068       chr9  137824938  137826068  10.672822

[17860 rows x 5 columns]

In [8]:
load_gencode_annotation_dataset_from_filesystem(
    fs=get_local_filesystem(),
    data_path=os.path.abspath("../data"),
    dataset_name="gencode.v40.annotation_genes_converted_in_regions_GM12878_Nean_with_mod_regions_labelled",
    dataset_type=Enhancer3dGencodeAnnotationDatasetType.TSV_LIFTOVERED_REF
)

                  gene_id Chromosome      Start        End Strand
0       ENSG00000233750.3       chr1     131024     134836      +
1       ENSG00000268903.1       chr1     135140     135895      -
2       ENSG00000269981.1       chr1     137681     137965      -
3       ENSG00000239906.1       chr1     139789     140339      -
4       ENSG00000241860.7       chr1     141473     173862      -
...                   ...        ...        ...        ...    ...
24339   ENSG00000237419.1       chr9  138199932  138203325      -
24340  ENSG00000233013.10       chr9  138217067  138253217      +
24341   ENSG00000223256.1       chr9  138259594  138259698      +
24342   ENSG00000250210.5       chr9  138286247  138286430      +
24343   ENSG00000286255.1       chr9  138319897  138320835      +

[24344 rows x 5 columns]